{% extends 'base.html' %}
{% block content %}
<main>
    <div class="project-detail">
        <a href="{% url 'update_company' company.id %}">Update company plan</a>
        <h1>{{ company.name }}</h1>
        <h2>Projects</h2>
        <a href="{% url 'create_project' %}">Create a new project</a>
        {% if company.projects.all|length != 0 %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for project in company.projects.all %}
                <tr>
                    <td>
                        <a href="{% url 'show_project' project.id %}">{{ project.name }}
                        </a>
                    </td>
                    <td>{{ project.tasks.all|length }}</td>
                    {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No assigned project to this company yet</p>
        {% endif %}
    </div>
</main>
{% endblock content %}