{% extends 'pagination.html' %}
{% block content %}
<main>
    <div class="project-list">
        <h1>Company</h1>
        <a href="{% url 'create_company' %}">Add a new company</a>
        {% if company_list|length == 0 %}
            <p>No companies yet</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of projects</th>
                    </tr>
                </thead>
                <tbody>
                    {% for company in company_list %}
                        <tr>
                            <td>
                                <a href="{% url 'show_company' company.id %}">{{ company.name }}</a>
                            </td>
                            <td>{{ company.projects.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</main>
{% endblock content %}