{% extends 'base.html' %}
{% block content %}
<main>
    <div class="project-form">
        <h1>Update company plan</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Update</button>
        </form>
    </div>
</main>
{% endblock content %}