{% extends 'base.html' %}
{% block content %}
{% load markdownify %}
<main>
    <div class="project-detail">
        <h1>{{ project.name }}</h1>
        {{ project.description|markdownify }}
        <h2>Companies</h2>
        {% for company in project.companies.all %}
        <a href="{% url 'show_company' company.id %}">{{ company.name }}</a>
        {% endfor %}
        <h2>Tasks</h2>
        <a href="{% url 'create_task' %}">Create a new task</a>
        {% if project.tasks.all|length != 0 %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for task in project.tasks.all %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.assignee }}</td>
                    <td>{{task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    {% if task.is_completed %}
                    <td>yes</td>
                    {% else %}
                    <td>no</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>This project has no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}