{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="project-list">
        {% if searched %}
            <h1>Result of search {{ searched }}</h1>
            {% if projects|length == 0 and tasks|length == 0 %}
                <p>No results! Please try another keyword.</p>
            {% else %}
                {% if projects|length != 0 %}
                <h2>My projects:</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                </td>
                                <td>{{ project.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </br>
                {% if tasks|length != 0 %}
                <h2>My tasks:</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                {% if task.is_completed == True %}
                                    <td>Done</td>
                                {% else %}
                                    <td>
                                        <form method="post" action="{% url 'complete_task' task.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" value="True" name="is_completed">
                                            <button>Complete</button>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            {% endif %}
        {% else %}
            <h1>Please enter a keyword to search for projects</h1>
        {% endif %}
        </div>
    </main>

{% endblock content %}